# Refer to all C routines by their name prefixed by C_
useDynLib("PRIMsrc", .registration=TRUE, .fixes = "C_")

import("survival")
import("glmnet")
import("superpc")
importFrom("Hmisc", "rcorr.cens")
importFrom("quantreg", "crq")

import("parallel")
import("graphics") 
import("grDevices") 
import("stats")

export("PRIMsrc.news", 
       "sbh",
       "plot_profile",
       "plot_traj",
       "plot_trace",
       "plot_km")

S3method("summary", "sbh")
S3method("predict", "sbh")
S3method("print", "sbh")
S3method("plot", "sbh")

export("summary", 
       "predict",
       "print",
       "plot")

